
<h1>My Accepted Reservations:</h1>
  <%@reservations.each do |reservation| %>
  <div>
    <% @user = reservation.user %>
    <% @car = reservation.car %>
    <% @owner = reservation.car.user %>
      <% if reservation.status == "accepted" %>
      <div class="rounded d-flex justify-content-between border m-2 p-2 border-success">
        <span class="align-self-center">
          <p>Brand: <%= reservation.car.brand %></p>
          <p>Model: <%= reservation.car.model %></p>
          <p>Year: <%= reservation.car.year %></p>
          <p>Owner: <%= reservation.car.user.email %></p>
          <p>Rental date: <%= reservation.rented_from%></p>
          <p>Return date: <%= reservation.rented_until%></p>
          <p>Status: <%= reservation.status %></p>
          <p>This rental is $<%= reservation.car.price %> per night for <%= (reservation.rented_until - reservation.rented_from).to_i%> days for a total cost of $<%= (reservation.rented_until - reservation.rented_from).to_i * reservation.car.price%></p>
          <% if @user == current_user %>
            <p><%= link_to "View the owner's profile", user_path(@owner)%></p>
          <%end %>
          <p><%= link_to "View this car", car_path(reservation.car)%></p>
          <% if reservation.status == "pending" || reservation.status == "denied"%>
            <p><%= link_to "Delete this reservation", reservation_path(reservation),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
          <%end %>
        </span>
        <div class="d-flex justify-content-between">
          <% @car = reservation.car  %>
          <%=  cl_image_tag @car.photos.first.key, height: 400, width: 600, crop: :fill  %>
        </div>
    </div>
  <%end %>
  </div>
  <% end %>
</div>
<h1>My Pending Reservations:</h1>
    <%@reservations.each do |reservation| %>
    <div>
    <% @user = reservation.user %>
    <% @car = reservation.car %>
    <% @owner = reservation.car.user %>
    <% if reservation.status == "pending" %>
      <div class="rounded d-flex justify-content-between border m-2 p-2 border-primary">
        <span class="align-self-center">
          <p>Brand: <%= reservation.car.brand %></p>
          <p>Model: <%= reservation.car.model %></p>
          <p>Year: <%= reservation.car.year %></p>
          <p>Owner: <%= reservation.car.user.email %></p>
          <p>Rental date: <%= reservation.rented_from%></p>
          <p>Return date: <%= reservation.rented_until%></p>
          <p>Status: <%= reservation.status %></p>
          <p>This rental will be $<%= reservation.car.price %> per night for <%= (reservation.rented_until - reservation.rented_from).to_i%> days for a total cost of $<%= (reservation.rented_until - reservation.rented_from).to_i * reservation.car.price%></p>
           <% if @user == current_user %>
            <p><%= link_to "View the owner's profile", user_path(@owner)%></p>
          <%end %>
          <p><%= link_to "View this car", car_path(reservation.car)%></p>
          <% if reservation.status == "pending" || reservation.status == "denied"%></p>
            <p><%= link_to "Delete this reservation", reservation_path(reservation),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
          <%end %>
        </span>
        <div class="d-flex justify-content-between">
          <% @car = reservation.car  %>
          <%=  cl_image_tag @car.photos.first.key, height: 400, width: 600, crop: :fill  %>
        </div>
      </div>
      <%end %>
      </div>
    <%end %>
</div>
<h1>My Rejected Reservations:</h1>
    <%@reservations.each do |reservation| %>
    <div>
    <% @user = reservation.user %>
    <% @car = reservation.car %>
    <% @owner = reservation.car.user %>
     <% if reservation.status == "denied" %>
      <div class="rounded d-flex justify-content-between border m-2 p-2 border-danger">
        <span class="align-self-center">
          <p>Brand: <%= reservation.car.brand %></p>
          <p>Model: <%= reservation.car.model %></p>
          <p>Year: <%= reservation.car.year %></p>
          <p>Owner: <%= reservation.car.user.email %></p>
          <p>Rental date: <%= reservation.rented_from%></p>
          <p>Return date: <%= reservation.rented_until%></p>
          <p>Status: <%= reservation.status %></p>
          <% if @user == current_user %>
            <p><%= link_to "View the owner's profile", user_path(@owner)%></p>
          <%end %>
          <p><%= link_to "View this car", car_path(reservation.car)%></p>
          <% if reservation.status == "pending" || reservation.status == "denied"%>
            <p><%= link_to "Delete this reservation", reservation_path(reservation),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
          <%end %>
        </span>
        <div class="d-flex justify-content-between">
          <% @car = reservation.car  %>
          <%=  cl_image_tag @car.photos.first.key, height: 400, width: 600, crop: :fill  %>
        </div>
      </div>
      <%end %>
      </div>
    <%end %>
</div>
