<h1>My reservations</h1>
<%@reservations.each do |reservation| %>
  <div class="card">
    <p>Brand: <%= reservation.car.brand %></p>
    <p>Model: <%= reservation.car.model %></p>
    <p>Year: <%= reservation.car.year %></p>
    <p>Owner: <%= reservation.car.user.email %></p>
    <p>Rented from: </p> <%= reservation.rented_from%>
    <p>Rented until: </p> <%= reservation.rented_until%>
    <p>Status: <%= reservation.status %></p>
    <p><%= link_to "View this car", car_path(reservation.car)%></p>
  </div>
<%end %>
