<div class="ms-5 mt-4 w-25">
<h2 class="mb-4">Create a new car</h2>
<%= simple_form_for(@car) do |f| %>
  <%= f.input :brand %>
  <%= f.input :model %>
  <%= f.input :year %>
  <%= f.input :price %>
  <%= f.input :address,
    input_html: {class: "d-none", data: {address_autocomplete_target: "address"}},
    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "Create car", class: "btn btn-dark w-50 mt-3" %>
<% end %>
</div>
