<%= link_to "Edit this car", edit_car_path(@car), class: "btn btn-primary"%>


<h2><%= @car.brand %></h2>
<p>Model: <%= @car.model %></p>
<p>Year: <%= @car.year %></p>
<% @car.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>







<%= link_to "Back to all cars", cars_path, class: "btn btn-primary"%>
