<!DOCTYPE html>
<html>
  <head>
    <title>CarAirbnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div style="top: 75px;position:relative; margin-left: 10px; margin-right: 10px; margin-bottom: 100px">
    <%= yield %>
    </div>
    <div>
    <%= render "shared/footer" %>
  </div>
  </body>
</html>
